
body{
font-family: sans-serif;}

.btn-primary, .btn-secondary{
  --bs-btn-bg:#21316b;
  --bs-btn-border-color:#02204d;
  --bs-btn-hover-bg:#0e3cd6;
  --bs-btn-hover-border-color:#023320;
  --bs-btn-color:#fff;
  font-family: sans-serif  !important;
  font-weight: 700;
}

.navbar{
 background-color: #21316b !important;
 
}



.navbar .nav-link{
font-family:sans-serif !important;
 font-weight: 900 !important;

}

form {
  max-width: 400px;      /* adjust to taste */
  margin: 60px auto;     /* centers horizontally */
  padding: 20px;
}


form .form-control {
  border-radius: 6px;
  box-shadow: none;
  border: 1px solid #ccc;
  margin-bottom: 15px;
}

form .btn {
  width: 100%;
  padding: 10px;
  font-weight: 600;
}
.auth-container {
  max-width: 400px;
  margin: 60px auto;
  text-align: center;
}

#loginTitle{
  text-align: center;
   margin-top: 3px;      
  margin-bottom: 1px;    
  font-weight: 600;
}
#registerTitle {
  text-align: center;
  margin-top: 3px;
  margin-bottom: 1px;   
  font-weight: 600;


}



table.table .table-custom th,
.table.table-custom th {
  background-color: #14265c !important;
  color: #ffffff !important;
  border-color: #14265c !important;
}



